.booking {
  /* text-align: left !important; */
  background-color: #e6e6e6;
  height: 100vh;
}

.cont1 {
  display: flex;
  flex-direction: row;
  width: 65%;
  /* background-color: white; */
  /* border: 1px solid red; */
  margin: auto;
}

.image_class{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.image_div {
  border-radius: 50%;
  border: 1px solid red;
}
.cont3 {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  /* border: 1px solid green; */
}
.cont3 > MuiSelect-select {
  width: 90% !important;
}
.checkout_button {
  color: white !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  background-color: red !important;
  width: 33% !important;
  margin: auto !important;
  padding: 5px 10px 5px 10px !important;
  margin-left: 5% !important;
}

.cont4{
    display: block;
    width: 100%;
}
