@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.App {
  text-align: center;
}

.planscontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border-radius: 10px;
  width: 95%;
  margin: auto;
}

.project-logo-img {
  width: 50px;
  cursor: pointer;
}

.project-logo-name {
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-login-logout-div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logged-in-user-name {
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid yellowgreen;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(203, 203, 203, 0.2);
}

.slide-container {
  margin: auto;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.home-page-sliding-image {
  width: 80%;
  height: 600px;
}

.home-page-plans-h1 {
  margin-top: 5%;
}

.homw-page-about-p {
  text-align: center;
  width: 95%;
  font-weight: 500;
  margin: auto;
  margin-bottom: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 415px) {
  .planscontainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 90%;
    margin: 0px;
  }

  .home-page-plans-h1 {
    margin-top: 5%;
    font-size: medium;
  }

  .project-logo-img {
    width: 50px;
  }

  .animated-paragraph {
    font-size: medium;
  }

  .home-page-sliding-image {
    width: 100%;
    height: 250px;
  }

  .project-logo-name {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .navbar-login-logout-div {
    gap: 5px;
    align-items: center;
  }

  .navbar-login-logout-div > {
    gap: 3px;
    align-items: center;
  }

  .logged-in-user-name {
    display: none;
  }
}

@media only screen and (min-width: 416px) and (max-width: 820px) {
  .planscontainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;
  }

  .home-page-sliding-image {
    width: 90%;
    height: 400px;
  }

  .login-page-side-img {
    border: 1px solid black;
    display: none;
  }

  .login-page-form {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-left: 1000px;
  }
}
